body
{
  background-color: #87ceeb;
  position: fixed;
  top: 25%;;
  left: -10px;
}

#sorryDiv
{

}
#myNavbar
{
  background-color: #162a3b;
  
}

#myNavbar a
{
  color: #FFD166;
}

#myNavbar a:hover
{
  color: #D4A373;
}

#mySidenav
{
  margin-top: 10%;
  margin-bottom: 15%;
  height: 70%;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

#mySidenav a
{
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover
{
  left: 0;
}

#imageUploadButton
{
  background-color: #5d5de3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#favcolor
{
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#timer
{
  top: 50px;
  background-color: #223f57
}

#bgpic
{
  top: 120px;
  background-color: #1d4769
}

#notes
{
  top: 190px;
  background-color: 	#315b7d
}

#list
{
  top: 260px;
  background-color: #4f7696
}
#music
{
  top: 330px;
  background-color: #7d9cb6
}