body {
  position: fixed;
  top: 25%;;
  left: -10px;
}
#mySidenav a {
  position: absolute;
  left: -90px;
  height: ;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 50px;
  background-color: #223f57
}

#blog {
  top: 120px;
  background-color: #1d4769
}

#projects {
  top: 190px;
  background-color: 	#315b7d
}

#contact {
  top: 260px;
  background-color: #4f7696
}
#music {
  top: 330px;
  background-color: #7d9cb6
}